.nav{
    grid-area: n;
    background-color: rgb(154, 209, 211);
    padding: 20px;
  }

  .item a {
      color: white;
      text-decoration: none;
  }

   .item a.activeLink {
      color: #ffd700;
  }
  